/* Reset */
*, html, body { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }

/* main */


body{
    position: relative;
    min-height: 100%;
}

#fixed-bar{
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 100;
}

#fixed-bar-wrap{
    width: 1024px;
    margin: 0 auto;
    padding: 16px 0;
    overflow: hidden;
}
.sr-only{
    position: absolute;
    width: 0;
    overflow: hidden;
}
.fixed-bar-logo{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}
.fixed-logo{
    float: left;
    width: 120px;
    vertical-align: text-bottom;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.fiexd-bar-search{
    float: left;
    border-radius: 5px;
    height: 40px;
    padding: 0 1.6rem;
    box-sizing: border-box;
}
.search-input-wrap{
    display: flex;
    justify-content: space-between;
}
.header-search-input{
    width: 340px;
    height: 50px;
    display: block;
    border: none;
    font-size: 16px;
    font-family: inherit;
    position: absolute;
    text-indent: 10px;
}
.header-search-button{
   background: none;
   cursor: pointer;
   outline: inherit;
   border-radius: 6px;
   margin-left: 300px;
}
.header-search-icon{
    position: relative;
    width: 20px;
    height: 20px;
    fill: #868e96;
    padding: 1rem 0;
}